
.btn {
  /*display: inline-block;*/
  max-width: 100%;
  padding: 0;
  border: 0;
  border-style: none;
  border-radius: .15rem; // .15rem*/
  outline: none;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}

.btn:hover{
  color: #ffffff;
}

.large {
  width: 300px;
}

.small {
  width: 100px;
}

.block {
  width: 100%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*pointer-events: none;*/
}

